.calendar-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    padding: 20px;
    border-radius: 12px;
    background: white;

}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: max-content;
    align-items: center;
}

.month-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.month-section h1{
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.08em;
}

.nav-btn{
    margin: 0 15px;
    color: #000;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #5A7D9A;
    color: white;
    font-size: 18px;
    transition: all 0.2s ease;
}

.nav-btn:hover {
  background: #3F5C73;
  transform: scale(1.08);
}
